body {
    margin: 0 0 0 0;
    background-color: #5b88f5;    
}

#center {
    width: 50rem;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, #615182, #002C8E);
    display: table;
    border-radius: 1rem;
    vertical-align: center;
}

h1 {
    background-color: #274643;
    font-family: verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    color: white;
    height: 5rem;
}

.left {
    width: 12rem;
    background-color: #EEEAF9;    
    display: inline-block;
    height: 12rem;
    margin: 0.5rem  0 0.5rem 0.5rem;
    border-radius: 0.8rem;
}

.right {
    width: 36rem;
    background-color: #7B9778;
    display: inline-block;
    float: right;
    height: 12rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 0.8rem;
}