body {
    margin: 0 0 0 0;
    text-align: center;
    font-size: 10px;
    /*background: radial-gradient(circle, hsl(240,20%,80%), hsl(240,80%,90%));*/
	background: url(bg.jpg);
}

#body {
    border-radius: 2rem;
    display: inline-block;
}

#operate {
    width: 32rem;
    margin-left: 0;
    background: linear-gradient(to right, #615182, #002C8E);
    border-radius: 1rem;
    vertical-align: center;
    text-align: center;
    display: inline-block;
    border: 0.3rem dotted white;    

}

h1 {
    background-color: #274643;
    font-family: verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    color: white;
    height: 5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 100;
}

.row {
    display: inline-block;
}


.right, .left {
    width: 11rem;
    float: left;
    display: inline-block;
    height: 11rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.8rem;
    cursor: crosshair;

}

.right {
    background-color: #7B9778;
}
.left {
    background-color: #EEEAF9;    
}


#result {
    background-color: #ff6600;
    color: black;
    display: inline-block;
    float: left;
    height: 6rem;
    width: 6rem;
    vertical-align: center;
    line-height: 6rem;
    border-radius: 0.8rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-family: serif;
    font-size: 5rem;
    user-select: none;

}

.testdata {
    width: 5rem;
    height: 5rem;
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
    display: inline-block;
    border-radius: 0.5rem;
    background-color: #5b88f5;    
}

.testdata:hover, #result {
    cursor: pointer;
}

.testdata:hover {
    box-shadow: 0 0 0 0.2rem rgb(91,136,245); 
    transition:  box-shadow 200ms;
}


#info {
    vertical-align: top;
    margin-left: 1rem;
    display: inline-block;
    border-radius: 0.4rem;
}

#bar {
    margin: 0;
    width: 24rem;
    height: 14rem;

    border: 0.3rem dotted blue;

    background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

footer {
    margin-top: 2rem;
    text-align: right;
    vertical-align: bottom;
    clear: both;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 0.2rem;
}

footer  a {
    text-decoration: none;
}

rect:hover{
    fill: #ff6600;

}

rect{
    transition: fill 0.3s;
}




@media only screen and (max-device-width: 480px){
    .right ,.testdata, #info{
        display: none;
    }
    #body, #operate,.row{
        width: 100%;
        margin: 0;
        display: block;
        text-align: center;
    }
    .left {
        width: 98%;
        padding-top: 98%;
        height: 0;
    }
    #result {
        margin: auto;
        padding-top: 48%;
        width: 98%;        

    }
    h1 {
        font-size: 64px;
    }
}
